@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header */
/* .app__header {
  position: fixed;  
  top: 0; 
  left: 0;
  width: 100%;
  background-color: #ff6200; 
  color: white;
  padding: 15px 0;
  text-align: left;
  z-index: 1000;
}

.header__text {
  margin: 5px 30px;
  font-size: 20px;
} */

/* Main content */
/* .home__content {
  margin-top: 60px;
  padding: 20px;
} */

/* Input Form */
.home__prompt__div {
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
  margin: 10px 20px;
  width: 70%;
  /* background-color: rgb(169, 169, 169); */
  /* border-radius: 10%; */
}

.home__prompt {
  margin: 10px 10px;
  width: 90%;     
  height: 25px; 
  border-radius: 50px;  
  resize: vertical; 
  padding: 13px 30px;    
  font-size: 1em;  
  border: 2px solid #343434; 
  outline: none; 
  transition: border-color 0.3s ease; 
}

.home__prompt:focus {
  border-color: #ff6200;
}

.home__submit__icon {
  background-color: #ffffff;
  color: #343434;
  border: 2px solid #343434;
  border-radius: 50%;
  padding: 6px;
}

.home__submit__icon:hover {
  background-color: #ff6200;
  color: #ffffff;
  transition: background-color 0.3s ease; 
}

/* Option Section */
.options__section {
  width: 50%;
  height: 90%;
}

.options__div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  gap: 15px;
  margin: 20px;
}

/* Option Items */
.options__item {
  width: 100px;
  height: 162px;
  background-color: #ffcd04b5;
  padding: 0 20px;
  text-align: center;
  border-radius: 15px;
  border: 2px solid #343434;
}

/* Fonts */
.options__text {
  font-size: 0.9em;
}
